
# This file is a part of Simple-XX/SimpleKernel
# (https://github.com/Simple-XX/SimpleKernel).
#
# .gitignore for Simple-XX/SimpleKernel.

.DS_Store
build_aarch64
build_riscv64
build_x86_64
doc/html
.gdbinit
.vscode
.idea
Doxyfile
.gdbinit
