
# This file is a part of Simple-XX/SimpleKernel (https://github.com/Simple-XX/SimpleKernel).
#
# .gitinnore for Simple-XX/SimpleKernel.

bochsout.txt
*.o
*.gch
*.tags*
.DS_Store
build*
grub-2.04.tar.xz
grub-2.04
iso
*.img
*.iso
*.bin
null.d
tools/aarch64-unknown-linux-gnu*
