os: osx
language: c
osx_image: xcode11.2

env:
  global:
  - HOMEBREW_LOGS=~/homebrew-logs
  - HOMEBREW_TEMP=~/homebrew-temp

before_install:
  - brew install i386-elf-binutils
  - brew install i386-elf-gcc

script:
  - cd ./src
  - make
after_script:
  - make clean
