# SPDX-License-Identifier: BSD-2-Clause

menu "Utils and Drivers Support"

source "$(OPENSBI_SRC_DIR)/lib/utils/fdt/Kconfig"

source "$(OPENSBI_SRC_DIR)/lib/utils/gpio/Kconfig"

source "$(OPENSBI_SRC_DIR)/lib/utils/i2c/Kconfig"

source "$(OPENSBI_SRC_DIR)/lib/utils/ipi/Kconfig"

source "$(OPENSBI_SRC_DIR)/lib/utils/irqchip/Kconfig"

source "$(OPENSBI_SRC_DIR)/lib/utils/libfdt/Kconfig"

source "$(OPENSBI_SRC_DIR)/lib/utils/reset/Kconfig"

source "$(OPENSBI_SRC_DIR)/lib/utils/serial/Kconfig"

source "$(OPENSBI_SRC_DIR)/lib/utils/sys/Kconfig"

source "$(OPENSBI_SRC_DIR)/lib/utils/timer/Kconfig"

endmenu
