# SPDX-License-Identifier: BSD-2-Clause

mainmenu "OpenSBI $(OPENSBI_PLATFORM) Configuration"

config OPENSBI_SRC_DIR
	string
	option env="OPENSBI_SRC_DIR"

config OPENSBI_PLATFORM
	string
	option env="OPENSBI_PLATFORM"

config OPENSBI_PLATFORM_SRC_DIR
	string
	option env="OPENSBI_PLATFORM_SRC_DIR"

menu "Platform Options"
source "$(OPENSBI_PLATFORM_SRC_DIR)/Kconfig"
endmenu

source "$(OPENSBI_SRC_DIR)/lib/sbi/Kconfig"

source "$(OPENSBI_SRC_DIR)/lib/utils/Kconfig"

source "$(OPENSBI_SRC_DIR)/firmware/Kconfig"
