# SPDX-License-Identifier: BSD-2-Clause

menu "Timer Device Support"

config FDT_TIMER
	bool "FDT based timer drivers"
	depends on FDT
	default n

if FDT_TIMER

config FDT_TIMER_MTIMER
	bool "ACLINT MTIMER FDT driver"
	select TIMER_MTIMER
	default n

config FDT_TIMER_PLMT
	bool "Andes PLMT FDT driver"
	select TIMER_PLMT
	default n

endif

config TIMER_MTIMER
	bool "ACLINT MTIMER support"
	default n

config TIMER_PLMT
	bool "Andes PLMT support"
	default n

endmenu
