/dts-v1/;

/ {
    description = "SimpleKernel U-Boot FIT Image";
    #address-cells = <1>;

    images {
        kernel {
            description = "simplekernel";
            data = /incbin/("{KERNEL_PATH}");
            type = "kernel";
            arch = "{FIT_ARCH}";
            os = "elf";
            compression = "none";
            load = <{LOAD_ADDR}>;
            entry = <{LOAD_ADDR}>;
            hash-1 {
                algo = "sha1";
            };
        };

        fdt {
            description = "Device Tree Blob";
            data = /incbin/("{DTB_PATH}");
            type = "flat_dt";
            arch = "{FIT_ARCH}";
            compression = "none";
            hash-1 {
                algo = "sha1";
            };
        };
    };

    configurations {
        default = "config";

        config {
            description = "Default Boot Configuration";
            kernel = "kernel";
            fdt = "fdt";
            hash-1 {
                algo = "sha1";
            };
        };
    };
};
