# SPDX-License-Identifier: BSD-2-Clause

menu "System Device Support"

config SYS_HTIF
	bool "Host transfere interface (HTIF) support"
	default n

config SYS_SIFIVE_TEST
	bool "SiFive test support"
	default n

endmenu
