
# This file is a part of Simple-XX/SimpleKernel (https://github.com/Simple-XX/SimpleKernel).
#
# build.yml for Simple-XX/SimpleKernel.

name: build

on: 
  - push
  - pull_request
  - release

env:
  BUILD_TYPE: Release

jobs:
  build_osx:
    runs-on: macos-latest

    steps:
      - name: get code
        uses: actions/checkout@v2
        
      # - name: setup brew
      #     shell: bash
      #     run: |
      #       brew install x86_64-elf-binutils
      #       brew install x86_64-elf-gcc
      #       brew tap riscv/riscv
      #       brew install riscv-tools

      - name: make build dir
        shell: bash
        run: |
          mkdir ${{github.workspace}}/build

      # - name: osx-i386
      #     shell: bash
      #     working-directory: ${{github.workspace}}/build
      #     run: |
      #       cmake -DTOOLCHAIN_PREFIX=x86_64-elf- -DCMAKE_C_COMPILER=x86_64-elf-gcc -DCMAKE_CXX_COMPILER=x86_64-elf-g++ -DCMAKE_OBJCOPY=x86_64-elf-objcpy -DPLATFORM=bochs -DARCH=i386 -DCMAKE_BUILD_TYPE=RELEASE -DHAVE_FLAG_SEARCH_PATHS_FIRST=0 ..
      #       make
      #       rm -rf ./*

      # - name: osx-x86_64
      #     shell: bash
      #     working-directory: ${{github.workspace}}/build
      #     run: |
      #       cmake -DTOOLCHAIN_PREFIX=x86_64-elf- -DCMAKE_C_COMPILER=x86_64-elf-gcc -DCMAKE_CXX_COMPILER=x86_64-elf-g++ -DCMAKE_OBJCOPY=x86_64-elf-objcpy -DPLATFORM=bochs -DARCH=x86_64 -DCMAKE_BUILD_TYPE=RELEASE -DHAVE_FLAG_SEARCH_PATHS_FIRST=0 ..
      #       make
      #       rm -rf ./*

      # - name: osx-riscv64
      #     shell: bash
      #     working-directory: ${{github.workspace}}/build
      #     run: |
      #       cmake -DTOOLCHAIN_PREFIX=riscv64-unknown-elf- -DCMAKE_C_COMPILER=riscv64-unknown-elf-gcc -DCMAKE_CXX_COMPILER=riscv64-unknown-elf-g++ -DCMAKE_OBJCOPY=riscv64-unknown-elf-objcpy -DPLATFORM=qemu -DARCH=riscv64 -DCMAKE_BUILD_TYPE=RELEASE -DHAVE_FLAG_SEARCH_PATHS_FIRST=0 ..
      #       make
      #       rm -rf ./*

  auto_pr:
    runs-on: macos-latest
    needs: [build_osx]

    steps:
      - name: get code
        uses: actions/checkout@v2

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          token: ${{ secrets.PAT }}
          commit-message: "[Auto PR]"
          committer: GitHub <noreply@github.com>
          author: ${{ github.actor }} <${{ github.actor }}@users.noreply.github.com>
          signoff: true
          branch: test-patches
          delete-branch: true
          title: '[BOT] Auto PR'
          body: |
            Auto-generated by [create-pull-request](https://github.com/peter-evans/create-pull-request)
          labels: |
            Auto PR
          assignees: MRNIU
          reviewers: MRNIU
          draft: false

#   build_ubuntu:
#     runs-on: ubuntu-latest
    
#     steps:
#     - name: Get code
#       uses: actions/checkout@v2
      
#     - name: Setup brew
#       shell: bash
#       run: |
#         /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
#         brew install make
#         brew install cmake
#         brew install x86_64-elf-binutils
#         brew install x86_64-elf-gcc

#     - name: Make build dir
#       shell: bash
#       run: |
#         mkdir ${{github.workspace}}/build

#     - name: cmake
#       shell: bash
#       working-directory: ${{github.workspace}}/build
#       run: cmake -DTOOLCHAIN_PREFIX=x86_64-elf- -DCMAKE_C_COMPILER=x86_64-elf-gcc -DCMAKE_OBJCOPY=x86_64-elf-objcpy -DPLATFORM=bochs -DARCH=x86_64 ..

#     - name: make
#       shell: bash
#       working-directory: ${{github.workspace}}/build
#       run: make
    

#   build_win:
#     runs-on: windows-latest
